body {
  background-image: url("images/clear-bg.jpg");
  height: 100%;
  background-size: cover;
}
.main {
  max-width: 700px;
  margin-top: 80px;
  padding: 0;
}
.main #search-form {
  margin-bottom: 4px;
}
.search #city-input {
  width: 70%;
  padding-left: 20px;
  margin-bottom: 10px;
  border: 5px solid rgba(233, 226, 125, 0.6);
  border-radius: 30px;
}
.search #location {
  border: transparent;
  border-radius: 30px;
  background-color: rgba(94, 150, 94, 0.7);
  width: 18%;
  padding: 5px 2px;
  color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}
.search #submit-city {
  border: transparent;
  border-radius: 30px;
  background-color: rgb(124, 183, 212);
  width: 10%;
  padding: 5px 2px;
  color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.today {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(116, 117, 134, 0.37);
  backdrop-filter: blur(4px);
  border: transparent;
  border-radius: 30px;
  margin-bottom: 25px;
}
.city-name {
  text-align: center;
  font-size: 70px;
  letter-spacing: -2px;
  text-transform: capitalize;
  font-family: "Alata", sans-serif;
  color: rgb(206, 104, 180);
}
.main-info {
  position: relative;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(51, 34, 90);
  text-align: center;
  padding: 0;
}
.main-info img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.temp-degrees {
  margin-top: 10px;
}
.celsius {
  border-radius: 8px 0 0 8px;
}
.fahrenheit {
  border-radius: 0 8px 8px 0;
}
.active {
  background: rgb(255, 192, 203) !important;
  font-weight: bold;
}
.celsius,
.fahrenheit {
  background: rgb(255, 255, 255);
  color: #1d1d1d;
  display: inline-block;
  font-size: 16px;
  padding: 2px 8px;
  letter-spacing: 1px;
  transition: all 0.2s;
  position: relative;
  top: -6px;
  border: 0;
}
.celsius:hover,
.fahrenheit:hover {
  background: rgb(255, 192, 203);
}
.minmax {
  font-size: 20px;
  margin-top: 5px;
}
.minmax #today-max {
  font-weight: 700;
}
.other-info {
  position: relative;
  font-size: 22px;
  padding-left: 90px;
  margin-top: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.other-info ul {
  list-style-type: none;
  padding: 0;
}
.other-info #condition {
  color: rgb(255, 255, 255);
  letter-spacing: -1px;
  font-size: 48px;
}
.other-info .date {
  color: rgb(165, 133, 226);
  font-size: 24px;
}
.other-info .time {
  font-size: 26px;
  color: rgb(165, 80, 132);
}
.other-info #feels-temp,
.feels {
  color: rgb(78, 150, 124);
  font-size: 24px;
  margin-bottom: 15px;
}
.other-info .humidity,
.wind {
  color: rgb(75, 149, 192);
  font-size: 20px;
}
.other-info .sunrise {
  color: rgb(255, 136, 61);
  font-size: 20px;
  margin-top: 15px;
}
.other-info .sunset {
  color: rgb(75, 69, 112);
  font-size: 20px;
}
.change-bg {
  margin: 15px 0;
  padding: 5px 20px;
  border: 5px solid rgba(125, 65, 153, 0.6);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(116, 117, 134, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}
.change-bg .title {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: auto;
}
.change-bg .buttons {
  margin: 0 -8px 0 5px;
  padding: 3px 0 3px 0;
}
.change-bg .buttons .btn-secondary {
  font-size: 11px;
  border: transparent;
  font-family: "Capriola", sans-serif;
}
.change-bg .buttons #clear-day {
  background-color: rgb(86, 166, 202);
  border-radius: 20px 0 0 20px;
}
.change-bg .buttons #clear-night {
  background-color: rgb(9, 55, 77);
}
.change-bg .buttons #clouds {
  background-color: rgb(152, 119, 212);
}
.change-bg .buttons #rain {
  background-color: rgb(79, 96, 248);
}
.change-bg .buttons #thunder {
  background-color: rgb(197, 103, 66);
}
.change-bg .buttons #snow {
  background-color: rgb(128, 150, 158);
}
.change-bg .buttons #mist {
  background-color: rgb(218, 122, 170);
  border-radius: 0 20px 20px 0;
}
.weekdays {
  margin: 15px 0;
  padding: 5px 20px;
  border: 4px solid rgba(243, 169, 215, 0.74);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(116, 117, 134, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}
.weekdays .day {
  font-family: "Lexend Deca", sans-serif;
  color: rgb(51, 34, 90);
  font-weight: 300;
  font-size: 25px;
  line-height: 64px;
}
.weekdays .emoji {
  font-size: 40px;
  text-align: right;
}
.weekdays .weekday-temp {
  font-size: 24px;
  color: rgb(51, 34, 90);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: right;
  padding-top: 10px;
}
#forecast-max {
  font-weight: 600;
}
.spotify {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: transparent;
  border: 4px solid rgba(182, 133, 214, 0.774);
}
.spotify p {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.spotify span {
  font-size: 14px;
}
iframe {
  border-radius: 12px;
}
.qotd {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: transparent;
  border: 4px solid rgba(182, 133, 214, 0.774);
  height: 231.2px;
}
.qotd h2 {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.qotd p {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.qotd #birth-date {
  border-radius: 7px;
  border: transparent;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0 auto;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}
.qotd #submit-bday {
  border-radius: 7px;
  border: transparent;
  display: block;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 2px 15px 2px 15px;
  background: url("images/glitter.gif");
  color: rgb(66, 66, 66);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
footer {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(201, 201, 238, 0.6);
  border-radius: 15px 15px 0 0;
}
.github:link,
.github:active,
.github:visited,
.linkedin:link,
.linkedin:active,
.linkedin:visited {
  color: rgb(26, 78, 94);
}
.github:hover,
.linkedin:hover {
  color: rgb(233, 52, 142);
}
